<!-- Start of Cookie Notice Scripts -->
<script>{{ inline_js }}</script>

{{ scripts }}
    {{ if script_type === 'google-tag-manager' }}
        <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}</script>
        <script>
            gtag('consent', 'default', {
                'analytics_storage': 'denied',
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'wait_for_update': 1500
            });
        </script>

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ gtm_container_id }}');</script>

        {{ if consent_grants }}
            <script>
            window.CookieNotice.on('accepted', (consentGroup) => {
                if (consentGroup === '{{ group }}') {
                    console.log('provided {{ consent_grants | ampersand_list }} consent')

                    gtag('consent', 'update', {{$ json_encode(array_fill_keys($consent_grants, 'granted')) $}})
                }
            })

            window.CookieNotice.on('declined', (consentGroup) => {
                if (consentGroup === '{{ group }}') {
                    console.log('revoked {{ consent_grants | ampersand_list }} consent')

                    gtag('consent', 'update', gtag('consent', 'update', {{$ json_encode(array_fill_keys($consent_grants, 'denied')) $}}))
                }
            })
        </script>
        {{ /if }}
    {{ /if }}

    {{ if script_type === 'meta-pixel' }}
        <script type="text/plain" data-consent-group="{{ group }}">
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ meta_pixel_id }}');
            fbq('track', 'PageView');
        </script>
    {{ /if }}

    {{ if script_type === 'other' }}
        <script type="text/plain" data-consent-group="{{ group }}">
            {{ inline_javascript }}
        </script>
    {{ /if }}
{{ /scripts }}
<!-- End of Cookie Notice Scripts -->
