<!-- Start: Cookie Notice scripts -->
<script>
    let cookiesForm = document.getElementById('cookiesForm')
    let hideConsentFormButton = document.getElementById('hideConsentFormButton')
    let manageCookiesButton = document.getElementById('manageCookiesButton')
    let COOKIE_NAME = '{{ cookie_name }}'
    let consentGroups = JSON.parse('{{ groups | json }}')

    window.cookieNotice = {
        listeners: [],

        consentWithCookies: function(groups) {
            consentGroups.forEach((consentGroup) => {
                let previousStatus = this.getCookie(COOKIE_NAME)?.split(',').includes(consentGroup.slug)
                let currentStatus = groups.includes(consentGroup.slug)

                if (previousStatus !== currentStatus && currentStatus === true) {
                    this.dispatchEvent('consented', consentGroup)
                }

                if (previousStatus !== currentStatus && currentStatus === false) {
                    this.dispatchEvent('revoked', consentGroup)
                }
            })

            this.setCookie(COOKIE_NAME, groups, 30)
            this.hideConsentNotice()
        },

        showConsentNotice: function() {
            manageCookiesButton.setAttribute('style', 'display: none;')
            cookiesForm.removeAttribute('style')
        },

        hideConsentNotice: function() {
            manageCookiesButton.removeAttribute('style')
            cookiesForm.setAttribute('style', 'display: none;')
        },

        cookieExists: function(name) {
            return document.cookie.indexOf(name + '=') !== -1
        },

        getCookie: function(name) {
            const value = `; ${document.cookie}`
            const parts = value.split(`; ${name}=`)
            if (parts.length === 2) return parts.pop().split(';').shift()
        },

        setCookie: function(name, value, expirationInDays) {
            const date = new Date()
            date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000))

            document.cookie = name + '=' + value +
                ';expires=' + date.toUTCString() +
                ';domain={{ domain }}' +
                ';path=/{{ config:session:secure ? ';secure' : null }}' +
                '{{ if config:session:same_site }};samesite={{ config:session:same_site }}{{ /if }}'
        },

        hasConsent: function(group) {
            if (window.cookieNotice.getCookie(COOKIE_NAME) === undefined) {
                return false
            }

            const consented = window.cookieNotice.getCookie(COOKIE_NAME).split(',')

            if (group = consentGroups.find(g => g.name === group)) {
                return consented.includes(group.slug)
            }

            return consented.length > 0
        },

        on: (event, callback) => {
            cookieNotice.listeners.push({
                event: event,
                callback: callback,
            });
        },

        dispatchEvent: (event, payload) => {
            cookieNotice.listeners
                .filter((listener) => listener.event === event)
                .forEach((listener) => listener.callback(payload));
        },
    }

    window.addEventListener('load', function() {
        cookiesForm = document.getElementById('cookiesForm')
        hideConsentFormButton = document.getElementById('hideConsentFormButton')
        manageCookiesButton = document.getElementById('manageCookiesButton')

        cookiesForm.addEventListener('submit', function(event) {
            event.preventDefault()
            const formData = new FormData(event.target)
            const groups = formData.getAll('groups')

            window.cookieNotice.consentWithCookies(groups)
        })

        if (!window.cookieNotice.cookieExists(COOKIE_NAME)) {
            window.cookieNotice.showConsentNotice()
            hideConsentFormButton.setAttribute('style', 'display: none;')
        } else {
            const groups = window.cookieNotice.getCookie(COOKIE_NAME).split(',')

            for (let i = 0; i < groups.length; i++) {
                document.getElementById(groups[i]).setAttribute('checked', true)
            }
        }

        hideConsentFormButton.addEventListener('click', window.cookieNotice.hideConsentNotice)
        manageCookiesButton.addEventListener('click', window.cookieNotice.showConsentNotice)

        window.cookieNotice.dispatchEvent(
            'loaded',
            window.cookieNotice.getCookie(COOKIE_NAME).split(',').map((slug) => {
                return consentGroups.find((group) => group.slug === slug)
            })
        )
    })
</script>
<!-- End: Cookie Notice scripts -->
